<launch>
  <machine name="republish-wench" address="robot-lab5" env-loader="/home/env.sh" user="csrobot"/>

  <node name="republish0" type="republish" pkg="image_transport" output="screen" args="theora in:=camera0_stream/image_raw compressed out:=camera0_stream/republished/image_raw" machine="republish-wench" />
  <node name="republish1" type="republish" pkg="image_transport" output="screen" args="theora in:=camera1_stream/image_raw compressed out:=camera1_stream/republished/image_raw" machine="republish-wench" />
  <node name="republish2" type="republish" pkg="image_transport" output="screen" args="theora in:=camera2_stream/image_raw compressed out:=camera2_stream/republished/image_raw" machine="republish-wench" />
  <node name="republish3" type="republish" pkg="image_transport" output="screen" args="theora in:=camera3_stream/image_raw compressed out:=camera3_stream/republished/image_raw" machine="republish-wench" />
</launch>
